# Decision tree :-

# Project 1: 
__Build Decision Tree(DV-"Survived",IDV-"Age,Gender and Fare") and Prediction__

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn import preprocessing

In [4]:
from sklearn import tree

In [5]:
data = pd.read_csv("C:/Users/Kishor/Desktop/AI ML/Day 24/train.csv")

In [6]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [8]:
data.drop(["Cabin"],axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
884,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
885,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
886,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,45.0,1,2,W./C. 6607,23.4500,S
887,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
888,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [9]:
le = preprocessing.LabelEncoder()

In [10]:
data["Sex"] = le.fit_transform(data["Sex"])

In [11]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

# With ONE Independent Variable

In [12]:
tree_model = tree.DecisionTreeClassifier()

In [13]:
tree_model.fit(X = pd.DataFrame(data["Sex"]),y=data["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [14]:
with open("Dtree1.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=["Sex"],out_file=f);

#  With TWO Independent Variable

In [15]:
tree_model1 = tree.DecisionTreeClassifier()

In [16]:
predictor1=pd.DataFrame([data["Sex"],data["Pclass"]]).T

In [17]:
tree_model1.fit(X= predictor1,y=data["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [18]:
with open("Dtree2.dot","w") as f1:
    f1=tree.export_graphviz(tree_model1,feature_names=["Sex","Pclass"],out_file=f1);

# With Four Independent Variables

In [19]:
tree_model2 = tree.DecisionTreeClassifier(max_depth=8)

In [20]:
predictor2 =pd.DataFrame([data["Sex"],data["Pclass"],data["Age"],data["Fare"]]).T

In [21]:
tree_model2.fit(X=predictor2,y=data["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [22]:
with open("Dtree3.dot","w") as f2:
    f2=tree.export_graphviz(tree_model2,feature_names=["Sex","Pclass","Age","Fare"],out_file=f2)

# To check model score

In [23]:
print("For One Independent Variable Model Score is",tree_model.score(X = pd.DataFrame(data["Sex"]),y=data["Survived"]))

For One Independent Variable Model Score is 0.7862767154105736

In [24]:
print("For Two Independent Variable Model Score is",tree_model1.score(X=predictor1,y=data["Survived"]))

For Two Independent Variable Model Score is 0.7862767154105736

In [25]:
print("For Four Independent Variable Model Score is",tree_model2.score(X=predictor2,y=data["Survived"]))

For Four Independent Variable Model Score is 0.8976377952755905

# How decision tree is helpful for Prediction

In [26]:
data1=pd.read_csv("C:/Users/Kishor/Desktop/AI ML/Day 24/test.csv")

In [27]:
data1.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [28]:
#this file does not contain Survived Column

In [29]:
data1.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [30]:
le1 = preprocessing.LabelEncoder()

In [31]:
data1["Sex"]=le.fit_transform(data1["Sex"])

In [32]:
data1.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,S

In [40]:
test_features = pd.DataFrame([data1["Sex"],data1["Pclass"],data1["Age"],data1["Fare"]]).T

In [46]:
tree_model3=tree.DecisionTreeClassifier()

In [51]:
test_preds = tree_model3.fit(X = test_features,y=data["Survived"])

ValueError: Number of labels=889 does not match number of samples=417